* {
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #272729;
    color: #dadada;
    margin: 0 auto 10px auto;
    padding: 0 30px;
    max-width: 750px;
}

a {
    color: #5bf;
}

h1 {
    line-height: 40px;
    margin: 30px 0;
}

h1, h2, h3 {
    color: #F5F1F1;
}

img#whatshe {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

img#whatshesphere {
    float: right;
}

p, li, a {
    font-size: 18px;
    line-height: 28px;
}

a#lastcommit {
    color: #7c7c7c;
    display: block;
    font-size: 10px;
    margin: 0;
    text-align: right;
    text-decoration: none;
}